<section class="container inserir-equipamento ff-inter">
  <header class="header">
    <h2>Adicione um <br>novo equipamento:</h2>
  </header>
  <form [formGroup]="formulario">
    <label for="equipamento">Tipo do equipameto</label>
    <input
      type="textarea"
      class="input"
      id="equipamento"
      formControlName="tipo"
      placeholder="Informe o tipo de equipamento"
    >
    <div class="mensagem__erro"
      *ngIf="formulario.get('tipo')?.errors &&
              formulario.get('tipo')?.touched">
      Informe o tipo do equipamento!
    </div>
    <label for="num-serie">Número de série do equipameto</label>
    <input
      type="text"
      class="input"
      id="num-serie"
      formControlName="serie"
      placeholder="Informe o número de série"
    >
    <div class="mensagem__erro"
      *ngIf="formulario.get('serie')?.errors?.['required'] &&
              formulario.get('serie')?.touched">
      Informe o número de série do equipamento!
    </div>
    <div class="mensagem__erro"
      *ngIf="formulario.get('serie')?.errors?.['maxlength'] &&
              formulario.get('serie')?.touched">
      Número de série incorreto, máximo de 6 caracteres (AAA000)!
    </div>
    <label for="subestacao">Subestação</label>
    <input
      type="text"
      class="input"
      id="subestacao"
      formControlName="subestacao"
      placeholder="Informe a subestação"
    >
    <div class="mensagem__erro"
      *ngIf="formulario.get('subestacao')?.errors &&
              formulario.get('subestacao')?.touched">
      Informe o local de instalação!
    </div>
    <label for="data-entrada">Data da entrega</label>
    <input
      type="text"
      class="input"
      id="data-entrada"
      formControlName="dataEntrega"
      placeholder="Digite a data de entrada do equipamento"
    >
    <div class="mensagem__erro"
      *ngIf="formulario.get('dataEntrega')?.errors &&
              formulario.get('dataEntrega')?.touched">
      Informe a data de entrega!
    </div>
    <br>
    <label for="modelo">Nível de tensão:</label>
    <div class="container-option">
      <div class="radio-modelo">
        <label>
          <input
            type="radio"
            value="500"
            formControlName="tensao"
          >
          <div class="custom-radio">
            <span></span>
          </div>
          <span>500</span>
        </label>
      </div>

      <div class="radio-modelo">
        <label>
          <input
            type="radio"
            value="230"
            formControlName="tensao"
          >
          <div class="custom-radio">
            <span></span>
          </div>
          <span>230</span>
        </label>
      </div>
    </div>
    <div class="mensagem__erro"
      *ngIf="formulario.get('tensao')?.errors &&
              formulario.get('tensao')?.touched">
      Selecione o nível de tensão!
    </div>
    <br>
    <label for="modelo">Selecione o fabricante:</label>
    <div class="container-option">
      <div class="radio-modelo">
        <label>
          <input
            type="radio"
            value="SIEMENS"
            formControlName="fabricante"
          >
          <div class="custom-radio">
            <span></span>
          </div>
          <span>SIEMENS</span>
        </label>
      </div>

      <div class="radio-modelo">
        <label>
          <input
            type="radio"
            value="GE"
            formControlName="fabricante"
          >
          <div class="custom-radio">
            <span></span>
          </div>
          <span>GE</span>
        </label>
      </div>

      <div class="radio-modelo">
        <label>
          <input
            type="radio"
            value="ABB"
            formControlName="fabricante"
          >
          <div class="custom-radio">
            <span></span>
          </div>
          <span>ABB</span>
        </label>
      </div>
    </div>
    <div class="mensagem__erro"
      *ngIf="formulario.get('fabricante')?.errors &&
              formulario.get('fabricante')?.touched">
      Selecione o fabricante!
    </div>
    <br>
    <label for="modelo">Status:</label>
    <div class="container-option">
      <div class="radio-modelo">
        <label>
          <input
            type="radio"
            value="ATIVO"
            formControlName="status"
          >
          <div class="custom-radio">
            <span></span>
          </div>
          <span>ATIVO</span>
        </label>
      </div>

      <div class="radio-modelo">
        <label>
          <input
            type="radio"
            value="NÃO ATIVO"
            formControlName="status"
          >
          <div class="custom-radio">
            <span></span>
          </div>
          <span>NÃO ATIVO</span>
        </label>
      </div>
    </div>
    <div class="mensagem__erro"
      *ngIf="formulario.get('status')?.errors &&
              formulario.get('status')?.touched">
      Informe o status!
    </div>
    <br>
    <label for="observacoes">Observações</label>
    <input
      type="text"
      class="input"
      id="observacoes"
      formControlName="observacao"
      placeholder="Campo para observações"
    >
    <div class="acoes">
      <button (click)="inserirEquipamento()" class="botao">Salvar</button>
      <button (click)="cancelarCadastro()" class="botao">Cancelar</button>
    </div>
  </form>
</section>

